<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopwizard.order.mapper.OrderSoclQuotMapper">

    <select id="selectList" parameterType="map" resultType="com.shopwizard.order.model.OrderSoclQuot">
        SELECT *
        FROM shopwizard.tOrdOrderSoclQuot
        <where>
            <if test="pChnlName != null and pChnlName != ''">AND ChnlName = #{pChnlName}</if>
            <if test="pDealName != null and pDealName != ''">AND DealName LIKE CONCAT('%',#{pDealName},'%')</if>
            <if test="pMatchProdCode != null and pMatchProdCode != ''">AND MatchProdCode LIKE CONCAT('%',#{pMatchProdCode},'%')</if>
            <if test="pShopCode != null and pShopCode != ''">AND ShopCode LIKE CONCAT('%',#{pShopCode},'%')</if>
            <if test="pProdCode != null and pProdCode != ''">AND ProdCode = #{pProdCode}</if>
            <if test="pProdName != null and pProdName != ''">AND ProdName LIKE CONCAT('%',#{pProdName},'%')</if>
            <if test="pDealNo != null and pDealNo != ''">AND DealNo = #{pDealNo}</if>
        </where>
        <choose>
            <when test="sidx != null and sidx != ''">ORDER BY ${sidx} ${sord}</when>
            <otherwise>ORDER BY ChnlName, DealName, MatchProdCode</otherwise>
        </choose>
        <if test="pPageSize != null">LIMIT #{pPageOffset}, #{pPageSize}</if>
    </select>

    <select id="selectCount" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM shopwizard.tOrdOrderSoclQuot
        <where>
            <if test="pChnlName != null and pChnlName != ''">AND ChnlName = #{pChnlName}</if>
            <if test="pDealName != null and pDealName != ''">AND DealName = #{pDealName}</if>
            <if test="pMatchProdCode != null and pMatchProdCode != ''">AND MatchProdCode = #{pMatchProdCode}</if>
            <if test="pProdCode != null and pProdCode != ''">AND ProdCode = #{pProdCode}</if>
            <if test="pProdName != null and pProdName != ''">AND ProdName LIKE CONCAT('%',#{pProdName},'%')</if>
            <if test="pDealNo != null and pDealNo != ''">AND DealNo = #{pDealNo}</if>
        </where>
    </select>

    <select id="select" parameterType="map" resultType="com.shopwizard.order.model.OrderSoclQuot">
        SELECT * FROM shopwizard.tOrdOrderSoclQuot
        WHERE ChnlName = #{chnlName} AND DealName = #{dealName} AND MatchProdCode = #{matchProdCode}
    </select>

    <insert id="insert" parameterType="com.shopwizard.order.model.OrderSoclQuot">
        INSERT INTO shopwizard.tOrdOrderSoclQuot (
            ChnlName, DealName, MatchProdCode, ShopCode, DealNo, ProdCode, ProdName, OptionNo, OptionName,
            SupplyPrice, Cost, OrderProdName, OrderProdQty, ResultType, ResultMessag, State, Remark,
            RegistId, RegistName, RegistDate
        ) VALUES (
            #{chnlName}, #{dealName}, #{matchProdCode}, #{shopCode}, #{dealNo}, #{prodCode}, #{prodName}, #{optionNo}, #{optionName},
            #{supplyPrice}, #{cost}, #{orderProdName}, #{orderProdQty}, #{resultType}, #{resultMessag}, #{state}, #{remark},
            #{registId}, #{registName}, NOW()
        )
    </insert>

    <update id="update" parameterType="com.shopwizard.order.model.OrderSoclQuot">
        UPDATE shopwizard.tOrdOrderSoclQuot SET
            ShopCode = #{shopCode}, DealNo = #{dealNo}, ProdCode = #{prodCode}, ProdName = #{prodName},
            OptionNo = #{optionNo}, OptionName = #{optionName}, SupplyPrice = #{supplyPrice}, Cost = #{cost},
            OrderProdName = #{orderProdName}, OrderProdQty = #{orderProdQty},
            ResultType = #{resultType}, ResultMessag = #{resultMessag}, State = #{state}, Remark = #{remark},
            ChangeId = #{changeId}, ChangeName = #{changeName}, ChangeDate = NOW()
        WHERE ChnlName = #{chnlName} AND DealName = #{dealName} AND MatchProdCode = #{oldProdCode}
    </update>

    <delete id="delete" parameterType="com.shopwizard.order.model.OrderSoclQuot">
        DELETE FROM shopwizard.tOrdOrderSoclQuot
        WHERE ChnlName = #{chnlName} AND DealName = #{dealName} AND MatchProdCode = #{matchProdCode}
    </delete>

</mapper>
