<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopwizard.order.mapper.SlnkTransDetailMapper">

    <!-- 실제 테이블: shopion.tOrdSlnkTransDetail
         (TransId, TransDetailNo, SlnkOrderCode, ResultType, ResultMessag, State, Remark, Regist*/Change*) -->

    <select id="selectList" parameterType="map" resultType="com.shopwizard.order.model.SlnkTransDetail">
        SELECT *
        FROM shopion.tOrdSlnkTransDetail
        <where>
            <if test="pTransId != null and pTransId != ''">AND TransId = #{pTransId}</if>
            <if test="pSlnkOrderCode != null and pSlnkOrderCode != ''">AND SlnkOrderCode = #{pSlnkOrderCode}</if>
            <if test="pResultType != null and pResultType != ''">AND ResultType = #{pResultType}</if>
        </where>
        ORDER BY TransId DESC, TransDetailNo ASC
        <if test="topCnt != null and topCnt.toString().matches('^[0-9]+$') and countPerPage != null and countPerPage.toString().matches('^[0-9]+$')">
            LIMIT ${topCnt}, ${countPerPage}
        </if>
    </select>

    <insert id="insert" parameterType="com.shopwizard.order.model.SlnkTransDetail">
        INSERT INTO shopion.tOrdSlnkTransDetail (
            TransId, TransDetailNo, SlnkOrderCode, ResultType, ResultMessag,
            State, Remark, RegistId, RegistName, RegistDate
        ) VALUES (
            #{transId}, #{transDetailNo}, #{slnkOrderCode}, #{resultType}, #{resultMessag},
            1, #{remark}, #{registId}, #{registName}, NOW()
        )
    </insert>

</mapper>
