<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopwizard.profile.mapper.BranchStoreMapper">

    <select id="selectList" parameterType="map" resultType="com.shopwizard.profile.model.BranchStore">
        SELECT *
        FROM shopion.tPrfBranchStore
        <where>
            <if test="pBranchId != null and pBranchId != ''">AND BranchId = #{pBranchId}</if>
            <if test="pStoreCode != null and pStoreCode != ''">AND StoreCode = #{pStoreCode}</if>
        </where>
        <if test="pPageSize != null and pPageSize != ''">
        LIMIT #{pPageOffset}, #{pPageSize}
        </if>
    </select>

    <select id="selectCount" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM shopion.tPrfBranchStore
        <where>
            <if test="pBranchId != null and pBranchId != ''">AND BranchId = #{pBranchId}</if>
            <if test="pStoreCode != null and pStoreCode != ''">AND StoreCode = #{pStoreCode}</if>
        </where>
    </select>

    <select id="select" parameterType="map" resultType="com.shopwizard.profile.model.BranchStore">
        SELECT *
        FROM shopion.tPrfBranchStore
        WHERE BranchId = #{branchId}
        AND StoreCode = #{storeCode}
    </select>

    <insert id="insert" parameterType="com.shopwizard.profile.model.BranchStore">
        INSERT INTO shopion.tPrfBranchStore (
            BranchId, StoreCode, State, Remark,
            RegistId, RegistName, RegistDate, ChangeId, ChangeName, ChangeDate
        ) VALUES (
            #{branchId}, #{storeCode}, #{state}, #{remark},
            #{registId}, #{registName}, NOW(), #{changeId}, #{changeName}, NOW()
        )
    </insert>

    <update id="update" parameterType="com.shopwizard.profile.model.BranchStore">
        UPDATE shopion.tPrfBranchStore SET
            State = #{state}, Remark = #{remark},
            ChangeId = #{changeId}, ChangeName = #{changeName}, ChangeDate = NOW()
        WHERE BranchId = #{branchId}
        AND StoreCode = #{storeCode}
    </update>

    <delete id="delete" parameterType="map">
        DELETE FROM shopion.tPrfBranchStore
        WHERE BranchId = #{branchId}
        AND StoreCode = #{storeCode}
    </delete>

</mapper>
