<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopwizard.profile.mapper.DeptApprovLineMapper">

    <select id="selectList" parameterType="map" resultType="com.shopwizard.profile.model.DeptApprovLine">
        SELECT * FROM shopion.tPrfDeptApprovLine
        <where>
            <if test="pDeptId != null and pDeptId != ''">AND DeptId = #{pDeptId}</if>
            <if test="pApprovLevel != null and pApprovLevel != ''">AND ApprovLevel = #{pApprovLevel}</if>
        </where>
        <if test="pPageSize != null and pPageSize != ''">LIMIT #{pPageOffset}, #{pPageSize}</if>
    </select>

    <select id="selectCount" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM shopion.tPrfDeptApprovLine
        <where>
            <if test="pDeptId != null and pDeptId != ''">AND DeptId = #{pDeptId}</if>
            <if test="pApprovLevel != null and pApprovLevel != ''">AND ApprovLevel = #{pApprovLevel}</if>
        </where>
    </select>

    <select id="select" parameterType="map" resultType="com.shopwizard.profile.model.DeptApprovLine">
        SELECT * FROM shopion.tPrfDeptApprovLine WHERE DeptId = #{deptId} AND ApprovLevel = #{approvLevel}
    </select>

    <insert id="insert" parameterType="com.shopwizard.profile.model.DeptApprovLine">
        INSERT INTO shopion.tPrfDeptApprovLine (DeptId, ApprovLevel, ApprovCustId, ApprovType, FinalYn, State, Remark, RegistId, RegistName, RegistDate, ChangeId, ChangeName, ChangeDate)
        VALUES (#{deptId}, #{approvLevel}, #{approvCustId}, #{approvType}, #{finalYn}, #{state}, #{remark}, #{registId}, #{registName}, NOW(), #{changeId}, #{changeName}, NOW())
    </insert>

    <update id="update" parameterType="com.shopwizard.profile.model.DeptApprovLine">
        UPDATE shopion.tPrfDeptApprovLine SET
            ApprovCustId = #{approvCustId}, ApprovType = #{approvType}, FinalYn = #{finalYn},
            State = #{state}, Remark = #{remark}, ChangeId = #{changeId}, ChangeName = #{changeName}, ChangeDate = NOW()
        WHERE DeptId = #{deptId} AND ApprovLevel = #{approvLevel}
    </update>

    <delete id="delete" parameterType="map">
        DELETE FROM shopion.tPrfDeptApprovLine WHERE DeptId = #{deptId} AND ApprovLevel = #{approvLevel}
    </delete>

</mapper>
