<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopwizard.store.mapper.PointProdMapper">

    <select id="selectList" parameterType="map" resultType="com.shopwizard.store.model.PointProd">
        SELECT PP.PointId, PP.ChnlCode, PP.ProdCode, PP.Remark, PP.State,
               PP.RegistDate, PP.RegistId, PP.RegistName, PP.ChangeDate, PP.ChangeId, PP.ChangeName,
               PH.ProdName, PH.SalePrice, PH.SaleYn, PH.ImgUrl80
        FROM shopion.tStrPointProd PP
        INNER JOIN shopion.tPrdProd PH ON PP.ProdCode = PH.ProdCode
        <where>
            <if test="pPointId != null">
                AND PP.PointId = #{pPointId}
            </if>
            <if test="pChnlCode != null and pChnlCode != ''">
                AND PP.ChnlCode = #{pChnlCode}
            </if>
            <if test="pSaleYn != null and pSaleYn != ''">
                AND PH.SaleYn = #{pSaleYn}
            </if>
        </where>
        ORDER BY PP.ProdCode
    </select>

    <insert id="insert" parameterType="com.shopwizard.store.model.PointProd">
        INSERT INTO shopion.tStrPointProd (
            PointId, ChnlCode, ProdCode, Remark, State,
            RegistDate, RegistId, RegistName, ChangeDate, ChangeId, ChangeName
        ) VALUES (
            #{pointId}, #{chnlCode}, #{prodCode}, #{remark}, #{state},
            #{registDate}, #{registId}, #{registName}, #{changeDate}, #{changeId}, #{changeName}
        )
    </insert>

    <delete id="delete" parameterType="map">
        DELETE FROM shopion.tStrPointProd
        WHERE PointId = #{pPointId}
        <if test="pChnlCode != null and pChnlCode != ''">
            AND ChnlCode = #{pChnlCode}
        </if>
        <if test="prodCodes != null">
            AND ProdCode IN
            <foreach collection="prodCodes" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </delete>

</mapper>
