<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopwizard.store.mapper.ProdCpnMapper">

    <select id="selectList" parameterType="map" resultType="com.shopwizard.store.model.ProdCpn">
        SELECT CpnId, CpnName, CpnDesc, CpnImg, CpnType, CpnAmt, LimitAmt,
               CpnStartDate, CpnEndDate, Remark, State,
               RegistDate, RegistId, RegistName, ChangeDate, ChangeId, ChangeName
        FROM shopion.tStrProdCpn
        ORDER BY CpnId DESC
    </select>

    <select id="select" parameterType="int" resultType="com.shopwizard.store.model.ProdCpn">
        SELECT CpnId, CpnName, CpnDesc, CpnImg, CpnType, CpnAmt, LimitAmt,
               CpnStartDate, CpnEndDate, Remark, State,
               RegistDate, RegistId, RegistName, ChangeDate, ChangeId, ChangeName
        FROM shopion.tStrProdCpn
        WHERE CpnId = #{cpnId}
    </select>

    <insert id="insert" parameterType="com.shopwizard.store.model.ProdCpn" useGeneratedKeys="true" keyProperty="cpnId">
        INSERT INTO shopion.tStrProdCpn (
            CpnName, CpnDesc, CpnImg, CpnType, CpnAmt, LimitAmt,
            CpnStartDate, CpnEndDate, Remark, State,
            RegistDate, RegistId, RegistName, ChangeDate, ChangeId, ChangeName
        ) VALUES (
            #{cpnName}, #{cpnDesc}, #{cpnImg}, #{cpnType}, #{cpnAmt}, #{limitAmt},
            #{cpnStartDate}, #{cpnEndDate}, #{remark}, #{state},
            #{registDate}, #{registId}, #{registName}, #{changeDate}, #{changeId}, #{changeName}
        )
    </insert>

    <update id="update" parameterType="com.shopwizard.store.model.ProdCpn">
        UPDATE shopion.tStrProdCpn
        SET CpnName = #{cpnName},
            CpnDesc = #{cpnDesc},
            CpnImg = #{cpnImg},
            CpnType = #{cpnType},
            CpnAmt = #{cpnAmt},
            LimitAmt = #{limitAmt},
            CpnStartDate = #{cpnStartDate},
            CpnEndDate = #{cpnEndDate},
            Remark = #{remark},
            State = #{state},
            ChangeDate = #{changeDate},
            ChangeId = #{changeId},
            ChangeName = #{changeName}
        WHERE CpnId = #{cpnId}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM shopion.tStrProdCpn
        WHERE CpnId = #{cpnId}
    </delete>

</mapper>
