<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shopwizard.code.mapper.ConstrMapper">

  <resultMap id="ConstrResult" type="com.shopwizard.code.model.Constr">
    <result property="constrCode"  column="ConstrCode" />
    <result property="constrName"  column="ConstrName" />
    <result property="constrDesc"  column="ConstrDesc" />
    <result property="remark"      column="Remark" />
    <result property="state"       column="State" />
    <result property="registDate"  column="RegistDate" />
    <result property="registId"    column="RegistId" />
    <result property="registName"  column="RegistName" />
    <result property="changeDate"  column="ChangeDate" />
    <result property="changeId"    column="ChangeId" />
    <result property="changeName"  column="ChangeName" />
  </resultMap>

  <select id="findList" parameterType="map" resultMap="ConstrResult">
    SELECT *
    FROM tCodConstr
    <where>
      <if test="pConstrName != null and pConstrName != ''">
        AND ConstrName LIKE CONCAT('%', #{pConstrName}, '%')
      </if>
    </where>
    <if test="sidx != null and sidx != ''">
      ORDER BY ${sidx} ${sord}
    </if>
  </select>

  <insert id="insert" parameterType="com.shopwizard.code.model.Constr">
    INSERT INTO tCodConstr (
      ConstrCode, ConstrName, ConstrDesc,
      State, Remark, RegistDate, RegistId, RegistName
    ) VALUES (
      #{constrCode}, #{constrName}, #{constrDesc},
      #{state}, #{remark}, NOW(), #{registId}, #{registName}
    )
  </insert>

  <update id="update" parameterType="com.shopwizard.code.model.Constr">
    UPDATE tCodConstr SET
      ConstrName = #{constrName},
      ConstrDesc = #{constrDesc},
      State      = #{state},
      Remark     = #{remark},
      ChangeDate = NOW(),
      ChangeId   = #{changeId},
      ChangeName = #{changeName}
    WHERE ConstrCode = #{constrCode}
  </update>

  <delete id="delete">
    DELETE FROM tCodConstr
    WHERE ConstrCode = #{constrCode}
  </delete>

  <delete id="deleteMultiple">
    DELETE FROM tCodConstr
    WHERE ConstrCode IN
    <foreach collection="list" item="item" open="(" separator="," close=")">
      #{item.constrCode}
    </foreach>
  </delete>

</mapper>
